<?xml version="1.0"?>
<config>
  <entry key="maniapath" value="D:\Users\lucas\AppData\Local\osu!\Songs" />
  <entry key="editorpath" value="C:\Program Files (x86)\Steam\steamapps\common\Intralism\Editor" />
  <entry key="lastchecked" value="https://intralism.khb-soft.ru/?player=76561198143629166" />
</config>